main {
  margin: auto;
  width: 100%;
  height: calc(100% - 50px);
}

.navContainer {
  top: 0;
  position: sticky;
  background-color: white;
  display: flex;
  width: 100%;
  height: 49px;
  border-bottom: 1px solid black;
}

.navIconContainer {
  display: flex;
  width: 100px;
}

.navIcon {
  margin: auto;
  width: 35px;
  height: 35px;
}

.navSearchFormContainer {
  margin: 0 auto;
  width: calc(100% - 210px);
  height: 100%;
}

.navSearchFormInput {
  width: 100%;
  height: calc(100% - 2px);
  border: none;
}

.navSearchFormInput:focus {
  outline: none;
}

.profileInfoBackground {
  height: fit-content;
  background-color: rgb(208, 188, 38);
}

.profileInfoContainer {
  padding: calc(2rem - 10px) 5% 2rem 5%;
  width: 90%;
}

.profileImageContainer {
  margin: auto;
  width: 200px;
  height: 220px;
  object-fit: scale-down;
}

.profileImage {
  margin: 10px 0 10px 0;
  border-radius: 30px;
  width: 200px;
  height: 200px;
}

.profileNameContainer {
  width: 100%;
  margin: auto;
  text-align: center;
  color: ghostwhite;
}

.profileName {
  height: 100%;
}

.profileLogin {
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
  text-overflow: ellipsis;
}

.blackholeIndicatorContainer {
  width: 320px;
  margin: auto;
}

.blackholeImage {
  display: inline-block;
}

.profileAdditionalInfoContainer {
  --variable-padding: calc((100% - 320px) / 2);
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  border-radius: 5px;
  color: rgb(233, 183, 17);
  font-size: 1.2rem;
  width: 320px;
  padding: 0 var(--variable-padding) 0 var(--variable-padding);
}

.profileInfoKey {
  box-sizing: border-box;
  padding: 0.6rem 0 0.6rem 0;
  font-size: 1.2rem;
  display: inline-block;
  width: 200px;
}

.profileInfoValue {
  font-size: 1.2rem;
  padding: 0.6rem 0 0.6rem 0;
  color: ghostwhite;
}

.evalInfoBackground {
  background-color: white;
}

.evalInfoContaienr {
}

@media only screen and (min-width: 1250px) {
  /* main {
    --variable-padding: calc((100% - 1200px) / 2);
    padding: 0 var(--variable-padding) 0 var(--variable-padding);
    width: 1200px;
  } */

  .profileInfoContainer {
    width: 1200px;
  }
}
